.todo {
  height: 10%;
  display: flex;
  flex-direction: column;
  transition: cubic-bezier(0.19, 0.98, 0.19, 0.97) 0.3s;
}

.mainTodo {
  position: relative;
  background-color: var(--todo-background);
  min-height: 50px;

  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  z-index: 2;
}

.mainTodo .part {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mainTodo .part:nth-child(1) {
  justify-content: flex-start;
}
.mainTodo .part:nth-child(2) {
  justify-content: flex-end;
}

.part input {
  accent-color: var(--accent);
  height: 18px;
  width: 18px;
}

.part h4 {
  color: var(--text);
  font-size: 18px;
}

.part .priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--high);
}

.part span {
  cursor: pointer;
  transition: rotate cubic-bezier(0.19, 0.98, 0.19, 0.97) 0.3s;
}

.expand {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.4rem;
  z-index: 1;
  transform: translateY(-4px);
  background-color: var(--todo-expand-background);
  padding: 0.4rem;
  padding-top: 0.5rem;
  overflow: hidden;
  border-radius: 0 0 7px 7px;
  transition: cubic-bezier(0.19, 0.98, 0.19, 0.97) 0.3s;
}

.expand * {
  color: var(--todo-expand-background);
}

.expand .date-utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand p {
  word-wrap: break-word;
}

.utils {
  width: 6%;
  display: flex;
  justify-content: space-evenly;
}

.utils span {
  cursor: pointer;
}
