@import "material-symbols/rounded.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #11111b;
  --sec-background: #1e1e2e;
  --todo-background: #474968;
  --sub-text-background: #e9edfa;
  --accent: #b4befe;
  --sec-accent: #cdd4ff;
  --high: #f38ba8;
  --normal: #a6e3a1;
  --low: #7f849c;
  --text: #ffffff;
  --sub-text: #535252;
  --more-text: #b1b1b1;
}

* {
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text);
  font-style: normal;
  line-height: normal;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

aside {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: var(--accent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

aside * {
  color: var(--background);
}

aside h1 {
  font-size: 62px;
  text-align: center;
}

aside #seperator {
  background-color: var(--background);
  width: 100%;
  height: 1px;
}

#projectsHeader {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

#projectsHeader h3 {
  font-size: 30px;
}

#projectsHeader span {
  cursor: pointer;
  font-size: 30px;
  background-color: var(--sec-accent);
  border-radius: 5px;
  transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

#projectsHeader span:hover {
  filter: brightness(110%);
}

#projectsContainer {
  width: 100%;
  display: grid;
  padding: 2rem 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

#projectsContainer .project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: var(--sec-accent);
  padding: 0 0.5rem;
  border-radius: 7px;
  transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

#projectsContainer .project:hover {
  filter: brightness(110%);
}

#projectsContainer .project p {
  font-size: 22px;
}

#projectsContainer .project * {
  background-color: var(--sec-accent);
}

#projectsContainer .project span {
  font-size: 32px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  border-radius: 3px;
}

#projectsContainer .project span:hover {
  scale: 110%;
  filter: brightness(110%);
}

main {
  position: absolute;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  padding-top: 4rem;
}

#todoContainer {
  width: 100%;
  height: 100%;
  background-color: var(--sec-background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 7px;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

/* width */
#todoContainer::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#todoContainer::-webkit-scrollbar-track {
}

/* Handle */
#todoContainer::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
#todoContainer::-webkit-scrollbar-thumb:hover {
  background: var(--sec-accent);
}

.todo {
  background-color: var(--todo-background);
  min-height: 50px;
  height: 10%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.todo .part {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo .part:nth-child(1) {
  justify-content: flex-start;
}
.todo .part:nth-child(2) {
  justify-content: flex-end;
}

.part input {
  accent-color: var(--accent);
  height: 18px;
  width: 18px;
}

.part h4 {
  color: var(--text);
  font-size: 18px;
}

.part .done {
  color: var(--more-text);
}

.part .priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--high);
}

.part span {
  cursor: pointer;
}
