@import "material-symbols/rounded.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #11111b;
  --sec-background: #1e1e2e;
  --todo-background: #474968;
  --sub-text-background: #e9edfa;
  --accent: #b4befe;
  --sec-accent: #cdd4ff;
  --high: #f38ba8;
  --normal: #a6e3a1;
  --low: #7f849c;
  --text: #ffffff;
  --sub-text: #535252;
  --more-text: #b1b1b1;
}

* {
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text);
  font-style: normal;
  line-height: normal;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

aside {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: var(--accent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

aside * {
  color: var(--background);
}

aside h1 {
  font-size: 62px;
  text-align: center;
}

aside #seperator {
  background-color: var(--background);
  width: 100%;
  height: 1px;
}

main {
  position: absolute;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  padding-top: 4rem;
}

#todoContainer {
  width: 100%;
  height: 100%;
  background-color: var(--sec-background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 7px;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

/* width */
#todoContainer::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#todoContainer::-webkit-scrollbar-track {
}

/* Handle */
#todoContainer::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
#todoContainer::-webkit-scrollbar-thumb:hover {
  background: var(--sec-accent);
}
